<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- <title>Bare - Start Bootstrap Template</title>>

  <!-- 
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">Bootstrap core CSS -->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home!
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://0.0.0.0:8080/score">Fraud Analysis of incoming data</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="http://0.0.0.0:8080/annual">Annual Fraud</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://0.0.0.0:8080/monthly">Monthly Fraud</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/jakemull13/fraud-detection-case-study">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://0.0.0.0:8080/map">Fraud HeatMap!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:fake.email@gmail.com">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Dashboard template for Fraud Detection</h1>
        <p class="lead">Complete with predictive models and heatmap!</p>
        <ul class="list-unstyled">
          <li>Mitch</li>
          <li>Jake</li>
          <li>Matt</li>
          <li>Anton</li>
        </ul>
      </div>
    </div>
  </div>
 <!-- Page Content 
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
